<section>
    <h2>Contact</h2>
    <p>Email: <a href="mailto:fuyu0853@icloud.com">fuyu0853@icloud.com</a></p>
    <p>Instagram: <a href="https://www.instagram.com/yufu.1122/">yufu.1122</a></p>
</section>