/* ベーススタイル */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 60px 0 40px;
    /* ヘッダーとフッターの高さ分のパディングを追加 */
    background-color: #f4f4f4;
    color: #333;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* ヘッダーのスタイル */

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

header h1 {
    margin: 0;
}


/* メインコンテンツのスタイル */

main {
    padding: 20px;
}

section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

h3 {
    color: #666;
}

p {
    line-height: 1.6;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    list-style: none;
}

ul li {
    background: #eee;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    flex: 1 1 calc(25% - 10px);
    box-sizing: border-box;
}

ul li a {
    display: block;
    margin-top: 10px;
}


/* フッターのスタイル */

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}